# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
BBLAYERS ?= " \
  _BUILD_PATH_/meta \
  _BUILD_PATH_/meta-poky \
  _BUILD_PATH_/meta-openembedded/meta-oe \
  _BUILD_PATH_/meta-openembedded/meta-multimedia \
  _BUILD_PATH_/meta-openembedded/meta-networking \
  _BUILD_PATH_/meta-openembedded/meta-python \
  _BUILD_PATH_/meta-openembedded/meta-filesystems \
  _BUILD_PATH_/meta-virtualization \
  _BUILD_PATH_/meta-raspberrypi \
  _BUILD_PATH_/meta-chaos/meta-chaos-common \
  _BUILD_PATH_/meta-chaos-raspberrypi \
  "
